.date-box {
    margin: 1rem;
    padding: 0.7rem;
    flex: 0.3;
    border: 1px solid rgb(211, 210, 210);
    display: flex;
    align-items: center;  
  }
  
.today {
    flex: 0 0 2rem;
    margin: 0 1rem;
    text-align: center;
    color: #3b87ab;
    font-weight: 700;
  }
  
.date-list {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    align-items: center;
  }
  
.date {
    font-size: 12.5px;
    flex: 0 0 1.2rem;
    color: #707070;
    cursor: pointer;
    text-align: center;
  }
  
.color-red {
      color: red;
  }
  
.color-blue {
    color: blue;
  }

.diary-container{
    flex: 2.4;
    margin: 0 1rem 1rem 1rem;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;  
}
.diary-box{
    border: 1px solid rgb(211, 210, 210);
    width: 95%;
    padding:10px;
    margin-bottom: 1rem;
}
.date-font{
    color:  #2d91c0;
    font-family: 'Y_Spotlight';
    font-size: 11px;
    margin-bottom: 10px;
   
}
.diary-contents{
    align-items: center;
    font-size: 12px;
    font-family: 'MapoGoldenPier';
}

button{
    background-color: white;
    color: white;
    border: none;
    /*버튼 클릭시 없앰*/
    outline: 0;
}
button:hover{
    
    width: fit-content;
    color: white;
    font-size: 11px;
    align-items: center;  
    padding:10px;
    background-color:#2d91c0 ;
    font-family: 'Y_Spotlight';
    text-align: center;
    display: inline-block;

}
.flow{
    overflow: auto;
}

#secret-box{
  display: none;
}
